<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/bootstrap_css")
    @RenderSection("Styles", required: false)
  </head>
  <body>
    <div class="container" style="margin-top: 10px;">
      @if (User.Identity.IsAuthenticated)
      {
        <ul class="nav nav-pills pull-right no-bottom-margin">
          <li>@Html.RouteLink("Profile", "Profile")</li>
          <li>@Html.RouteLink("Sign Out", "Sign Out")</li>
        </ul>
      }
      else
      {
        <ul class="nav nav-pills pull-right no-bottom-margin">
          <li>@Html.RouteLink("Join", "Join")</li>
          <li>@Html.RouteLink("Sign In", "Sign In")</li>
        </ul>
      }
    </div>
    <div class="container">
      <h1>
        <a href="/">The Sequel Shack</a>
      </h1>
      @RenderBody()
    </div>
    <div id="ajax-form-modal-container"></div>
  </body>
</html>