@model MovieDisplayModel

<div class="row">
  <div class="span12">
    <!-- Search -->
  </div>
</div>
<h2 class="no-top-margin">@Model.Title (@Model.Year)</h2>
<div class="row">
  <div class="span8">
    @if (User.Identity.IsAuthenticated)
    {
      <div id="sequel-edit-container" class="well well-large text-center">
        @<!-- Form goes here -->
        {
          @Html.AntiForgeryToken()
          <div class="text-right">
            <button id="save-sequel" class="btn btn-large btn-success"><i class="icon-ok"></i> That's a Wrap</button>
          </div>
        }
      </div>
    }

    @if (Model.Sequels.Any())
    {
      <div class="sequels">
        @foreach (var sequel in Model.Sequels)
        {
          <div class="sequel">
            <div class="sequel-title">
              
            </div>
            <div class="sequel-content">
              @Html.Raw(Html.Encode(sequel.Content).Replace("\n", "<br/>"))
            </div>
          </div>
        }
      </div>
    }
    else
    {
      <div class="alert alert-info" style="margin-top: 10px;">
        <h4>No Sequels Yet! You could be first!</h4>
        <p>Click on "Write the Sequel!" to write what happens next.</p>
      </div>
    }
  </div>
  <div class="span4">
    <!-- Movie Details -->
    

    <h4>Synopsis</h4>
    <div class="well well-small">
      <!-- Synopsis -->
    </div>

    <h4>Cast</h4>
    <div class="well well-small">
      @Html.Raw(string.Join("<br/>", Model.Cast.Select(c => Html.Encode(c))))
    </div>
  </div>
</div>