@model SignInForm
@{
  ViewBag.Title = "Sign In to the Sequel Shack";
}

<div class="row">
  <div class="span12">
    <div class="row">
      @using (Html.BeginForm("SignIn", "Authentication", FormMethod.Post, new {@class = "clearfix no-bottom-margin"}))
      {
        @Html.AntiForgeryToken()
        <div class="span4">
          <fieldset>
            <legend>Sign In</legend>
            @Html.ValidationSummary()
            @Html.HiddenFor(m => m.ReturnUrl)

            @Html.LabelFor(m => m.Username)
            @Html.TextBoxFor(m => m.Username, new {@class = "span4", maxlength = 25})
            
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new {@class = "span4"})

            <label for="RememberMe" class="checkbox">
              @Html.CheckBoxFor(m => m.RememberMe) Remember me?
            </label>

            <div class="form-actions no-bottom-margin">
              <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
          </fieldset>
        </div>
      }
    </div>
  </div>
</div>